@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Italiana&family=Lato:wght@100;300;400;700;900&family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}
input {
  text-transform: capitalize;
}
li,
Link {
  list-style: none;
  text-decoration: none;
}
img {
  object-fit: cover;
  width: 100%;
}
.b {
  background: #0b2447;
  color: #a5d7e8;
}

.w {
  background: rgb(31, 41, 55);
  color: #a5d7e8;
}
.border1 {
  border: 1px solid #339bbe;
}
.borderb1 {
  border-bottom: 2px solid #339bbe;
}

.color1 {
  color: #a5d7e8;
}

.bg1 {
  background: #0b2447;
}
.b1hover:hover {
  background: #131120;
}
.cardbg1 {
  background: #19376d;
}
.buttonbg1 {
  background: #576cbc;
}
.color2 {
  color: #576cbc;
}
.buttonhoverbg1:hover {
  background: #024988;
}
.buttonbg2 {
  background: #274988;
}
.textclr1 {
  color: rgb(75, 85, 99);
}
.transition1 {
  transition: all 0.3s ease-in-out;
}

.container {
  min-width: 1610px;
  margin: 0 auto;
}
.full-overlay {
  position: relative;
}

.full-overlay::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.251), rgba(0, 0, 0, 0.342));
  z-index: 1; /* Adjust the z-index to control the stacking order */
}
@media (max-width: 1400px) {
  .container {
    min-width: 1320px;
  }
}
@media (max-width: 1200px) {
  .container {
    min-width: 1140px;
  }
}
@media (max-width: 992px) {
  .container {
    min-width: 960px;
  }
}
@media (max-width: 768px) {
  .container {
    min-width: 720px;
  }
}
@media (max-width: 576px) {
  .container {
    min-width: 540px;
  }
}
