@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.b {
  background: #000;
  color: white;
}
.b:hover {
  color: aqua;
}
.w {
  background: #000;
  color: white;
}
.container {
  min-width: 1610px;
  margin: 0 auto;
}
@media (max-width: 1400px) {
  .container {
    min-width: 1320px;
  }
}
@media (max-width: 1200px) {
  .container {
    min-width: 1140px;
  }
}
@media (max-width: 992px) {
  .container {
    min-width: 960px;
  }
}
@media (max-width: 768px) {
  .container {
    min-width: 720px;
  }
}
@media (max-width: 576px) {
  .container {
    min-width: 540px;
  }
}

li,
Link {
  list-style: none;
  text-decoration: none;
}
