.h-search-box {
  border-radius: 20px;
}
.h-category-box {
  border-right: 1px solid #339bbe;
}

.ds-wrapper:hover .header {
  border-top-left-radius: 0px !important;
}
.accountbox-item {
  position: relative;
  display: flex;
  border: 1px solid #339bbe;
  justify-content: center;
  align-items: flex-end;
  background: #0b2447;
  padding: 0.5rem;
  border-radius: 0.5rem;

  cursor: pointer;
}

.accountbox-img {
  object-fit: cover;
  width: 1.25rem;
  color: #a5d7e8;
}

.accountbox-text {
  margin-left: 0.5rem;
  color: #a5d7e8;
  text-align: right;
}
.accountbox-span {
  position: absolute;
  top: 0;
  left: 1.25rem;
  padding: 1px 0.25rem;
  font-weight: bold;
  background-color: rgb(3, 73, 97);
  border-radius: 50%;
  font-size: 0.75rem;
  color: #a5d7e8;
  display: flex;
  line-height: 1rem;
  align-items: center;
  justify-content: center;
}
