.h-search-box {
  border: 3px solid rgb(0, 194, 194);
  box-shadow: 1px 2px 15px rgba(255, 255, 255, 0.542);
  border-radius: 20px;
}
.h-category-box {
  border-right: 1px solid black;
}

.h-location-box {
  box-shadow: 1px 2px 15px rgba(255, 255, 255, 0.542);
  border: 2px solid rgb(0, 194, 194);
}
.ds-wrapper:hover .header {
  border-top-left-radius: 0px !important;
}
.accountbox-item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-color: white;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 2px solid rgb(0, 194, 194);
  box-shadow: 1px 2px 15px rgba(255, 255, 255, 0.542);
  cursor: pointer;
}

.accountbox-img {
  object-fit: cover;
  width: 1.25rem;
}

.accountbox-text {
  margin-left: 0.5rem;
  color: black;
  text-align: right;
}
.accountbox-span {
  position: absolute;
  top: 0;
  left: 1.25rem;
  padding: 1px 0.25rem;
  font-weight: bold;
  background-color: aqua;
  border-radius: 50%;
  font-size: 0.75rem;
  color: black;
  display: flex;
  line-height: 1rem;
  align-items: center;
  justify-content: center;
}
